.btn{
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    padding: 0;
    text-align: center;
    height: 50px;
    width: 50px;
}
.box:after{
    clear: both;
    content: '';
    display: table;
}